html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,select,
table,caption,tbody,tfoot,thead,tr,th,td,input,button,i,span{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}
body{
	font-family: "Microsoft YaHei UI","Microsoft YaHei","PingFang SC","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	height:100%;
	}
input,button,textarea,td,th,select{outline:none;}
table {border-collapse:collapse;border-spacing:0;}
ol,ul{list-style: none;}
a{text-decoration:none;}
.clearFl:after{
	content:'';
	display:block;
	clear:both;
}
.clearFl{
	zoom:1;
}
/*粒子背景样式*/
#particle{width:100%; height:100%; z-index:-999; position:fixed; top:50px; left:0px;}
.header{
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:40px;
	background:rgba(255,255,255,.6);
}
.header .navbar-brand{
	font-size:24px;
	color:#000;
}
.header .navbar-brand:hover{
	color:#0d74ed;
}
.header .navbar-default{
	border-radius:0;
	background:#fff;
	box-shadow:0 2px 20px #000;
}
.header-nav li{
	padding:0 20px;
	height:50px;
	overflow:hidden;
}
.header-nav li a{
	padding:0;
	transition:all .2s linear;
	text-align:center;
}
.header-nav p{
	margin:10px 20px;
	padding:0 6px;
	height:30px;	
	line-height:30px;
	font-size:14px;
}
.header-nav p.hover-off{	
	color:#000;
}
.header-nav p.hover-on{
	/*background:#FFFF00;
	background:#000;*/
	color:#0d74ed;
	/*border-radius:10px;*/
	border-bottom:2px solid #0d74ed;
}
.header-nav li:hover p.hover-off{	
	text-decoration:underline;
}
.header-nav li:hover a{	
	margin-top:-40px;
}

.header .navbar-toggle,.header .navbar-toggle.collapsed,.header .navbar-toggle:focus{
	border:none;
	background:#fff;
}
.header .navbar-toggle .icon-bar{
	background:#000;
}
.header .navbar-toggle:hover{
	background:#fff;
}
.header .navbar-toggle:hover .icon-bar{
	background:#0d74ed;
}
.main{
	margin-top:50px;
}
.main-left{
	position:fixed;
	width:200px;
	height:100%;
	top:50px;
	left:0;
	bottom:200px;
	border-radius:6px;
	border-top-left-radius:0;
	background:rgba(0,0,0,.6);
}
.nav-content>li>a{
	transition: all .6s;
	line-height:30px;
	border-radius:6px;
	font-size:14px;
	font-weight:bold;
	color:#ccc;	
	background:transparent;	
}
.nav-content>li:nth-child(1)>a{
	border-top-left-radius:0;
}
.nav-content>li>a:hover {
	color:#fff;
    background: -webkit-linear-gradient(left, rgb(59, 123, 240) , rgba(26,133,245,0.6)) !important; /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(59, 123, 240) , rgba(26,133,245,0.6)) !important; /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(59, 123, 240) , rgba(26,133,245,0.6)) !important; /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(59, 123, 240) , rgba(26,133,245,0.6)) !important; /* 标准的语法 */
}
.nav-content>.active>a,.nav-content>.active>a:focus{
	text-shadow:2px 2px 6px #ffff00;
	color:#ffff00 !important;
	background:transparent;
}
.main-right{
	margin-left:200px;
	margin-top:70px;
}
.nav_1{
	margin:0 auto;
	position:relative;
	left:50%;
	transform:translateX(-50%);
}
.nav-item{	
	margin-top:0 auto;
}
.nav-item li a{
	display:inline-block;
	float:left;
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	margin:6px;
	max-width:200px;
	border-radius:6px;
	overflow:hidden;
	opacity:.9;
	-webkit-transition:top .2s ease-in-out;
	-o-transition:top .2s ease-in-out;	
	-ms-transition:top .2s ease-in-out;
	-moz-transition:top .2s ease-in-out;
	 transition: top .2s ease-in-out;	
}
.nav-item li .nav-item-text{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-align:center;	
	opacity:0;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;	
	-ms-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition: all .2s ease-in-out;			
}
.nav-item li:hover a{
	z-index:10;
	top:10px;
	opacity:1;
	box-shadow:10px 10px 16px #000;
}
.nav-item li:hover .nav-item-text{	
	opacity:1;
}
.nav-item li .nav-item-text p{	
	position:absolute;
	width:80%;
	left:50%;
	top:60%;
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	-webkit-transition:all .4s cubic-bezier(.7, .7, .2, 1.6);
	-o-transition:all .4s cubic-bezier(.7, .7, .2, 1.6);	
	-ms-transition:all .4s cubic-bezier(.7, .7, .2, 1.6);
	-moz-transition:all .4s cubic-bezier(.7, .7, .2, 1.6);
	transition: all .4s cubic-bezier(.7, .7, .2, 1.6);
	opacity:0;
	word-break:break-all;
}
.nav-item li:hover .nav-item-text p{	
	top:50%;
	opacity:1;
}
.nav-item li img{
	border:none;
	outline:none;
	width:100%;	
}
@media screen and (max-width:1000px){
	.main-left{
		display:none;
	}
	.main-right{
		margin-left:0;
	}
	.footer{
		margin-left:0;
	}
}
.circle{
	padding:30px 10px;
}
.circle-item{
	position:relative;
	margin:10px auto;
	height:200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: transform .4s ease;
	text-align: center;
	border:2px solid #aaa;	
	background:rgba(255,255,255,.4);
}
.circle-item h4{
	position:absolute;
	top:50%;
	left:50%;
	width:80%;
	transform:translate(-50%,-50%) scale(0.6);
	opacity:0;
	font-size:14px;
	font-weight:300;
	color:#85939b;
	transition: all .4s cubic-bezier(0.6,0.6,0.6,1.6);
	word-break: break-all;
}
.circle-item:hover{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	border-color:#9B59B6;
	background:#fff;
}
.circle-item:hover:after{
	content:"";
	position:absolute;
	left:50%;
	top:-3px;
	transform:translateX(-50%);
	width:40px;
	height:4px;
	background:#fff;
}
.circle-item .circle-item-icon{
	display:inline-block;
	position:absolute;	
	top:50%;
	left:50%;
	z-index:10;
	transform:translate(-50%,-50%);
	padding:0 16px;
	transition: all .2s ease;
	font-size:30px;
	color:#aaa;
	background:transparent;
}
.circle-item:hover h4{
	-webkit-transform:translate(-50%,-50%) scale(1);
	-moz-transform:translate(-50%,-50%) scale(1);
	-o-transform:translate(-50%,-50%) scale(1);
	-ms-transform:translate(-50%,-50%) scale(1);
	transform:translate(-50%,-50%) scale(1);
	opacity:1;
}
.circle-item:hover .circle-item-icon{
	top:0;
	color:#9B59B6;
}
@media screen and (max-width:479px){
	.circle>div {
	    width:100%;
	}
	.nav-item li{
	    width:100%;
	}
}
.totop{
	display:none;	
	position:fixed;
	right:10px;
	bottom:20px;
	padding:6px 16px;
	transition:all .6s ease-out;
	font-size:20px;
	color:#fff;
	background:#ccc;
	cursor:pointer;
}
.totop:hover{
	color:#fff;
	background:#aaa;
}
.introduce{
	padding:20px 40px;	
	color:#000;
	background:rgba(22, 191, 251, 0.6);
}
.introduce .introduce-item{
	margin:20px 0;
	min-height:100px;
	font-size:14px;
	opacity:0;
	transform:scale(.6);
	transition:all .6s ease;
}
.introduce .introduce-item.animate{
	opacity:1;
	transform:scale(1);
}
.introduce .introduce-item h4{
	display:inline-block;
	float:left;
	margin-right:10px;
	width:40px;
	font-size:30px;
	color:#fff;
}
.introduce .introduce-item .introduce-item-text{
	
}
.footer{
	margin-top:100px;
	padding:20px 0;
	background:rgba(0,0,0,.6);
}
.footer .footer-contact{
	margin-bottom:20px;
	text-align:center;
}
.footer .footer-link .fa{
	transition:all .2s linear;
	padding:8px;
	font-size:18px;
	color:#000;
	background:#fff;
	border:2px solid #000;
}
.footer .footer-link:not(:last-child){
	margin-right:30px;
}
.footer .footer-link .fa:hover{
	color:#fff;
	background:#000;
}
.footer .footer-license{
	padding-left:30px;
}
.footer .footer-license a{
	padding-left:6px;
	border-left:3px solid #fff;
	color:#fff;
}
.footer .footer-license a:hover{
	text-decoration:underline;
}
.footer .footer-license>div{
	padding-left:20px;
	margin-bottom:20px;
}
