/*body{overflow:-Scroll;overflow:hidden;}*/
#JoynBackground{width:100%; height:100%; z-index:-999; position:fixed; top:0px; left:0px;}
#JoynBackground img{width:100%; height:100%; display:none; position:absolute;}